.feature-box{
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    transition: transform .2s;
    border-radius: 3px;

    &__icon{
        background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 6rem;
    }

    &:hover{
        transform: translateY(-2rem) scale(1.03);
    }
}