*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; // Normalde bu değer inherti edilmez ama bunun * sleector altına koyup inherit deyince yukarıda ne varsa alır. yani bodye koyduğpumuz değer hepsine geçer
}

html{
    /*font-size: 10px;*/ /*tüm remler bu fontsize göre hesaplnacağından 10 un katı olarka ayarlanıyor. 1 rem root fontsize a eşit.*/
    font-size: 62.5%;/*font size a fix pixel değeri vermek iyi değil daha doğtusu borewserin default olan 16 değerini alıp kendine göre 10 pixle ayarlamak.*/
}

body {
    box-sizing: border-box;
}
